* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1px;
}

body{
    min-height: 100vh;
    width: 100%;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

/**************************
Estilos para el contenedor de header y main
************************** */

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/**************************
Estilos para el header
************************** */

button {
    border: none;
    background: none;
    cursor: pointer;
}

.header {
    min-height: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header__title {
    font-size: 35rem;
    font-weight:500;
    margin-bottom: 0.4em;
}

.container-header-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header__button {
    margin: 0em 0.8em;
}

.header__button--light {
    display: none;
}

@media (max-width: 700px) {
    .header__title {
        font-size: 25rem;
    }
}

header{
    background-color: red;
}

main{
    background-color: blue;
}

aside {
    background-color: aqua;
}

/**************************
Estilos para el main
************************** */
.container-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-meme{
    min-height: 65vh;
    width: 100%;
    max-width: 610px;
    display: flex;
    flex-direction: column;
}

.title__meme{
    min-height: 8vh;
    background-color: rgb(17, 255, 0);
    font-size: 25rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__meme {
    flex-grow: 1;
    background-color: black;
}

/**************************
Estilos para el button de main "descargar meme"
************************** */

.button-meme {
    background-color: green;
    padding: 1em;
    margin-top: 2em;
}

/**************************
Estilos para el aside de imagen
************************** */

/* .hidden {
    display: none;
} */

.panel {
    width: 25vh;
    min-height: 100vh;
    padding: 3em 2em;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    box-shadow: -10px 10px 100px 5px rgba(0, 0, 0, 0.3);
    overflow: auto;
}

.panel__title {
    text-align: center;
    font-size: 18rem;
    font-weight: 600;
}

.panel div {
    font-size: 15rem;
}

.container-fondo {
    display: flex;
    align-items: center;
}

.panel-imagen input {
    display: block;
}

.panel-control {
    margin-bottom: 1em;
}

.control__title {
    margin-bottom: 0.5em;
    font-size: 17rem;
}

.panel-control-columns {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.panel-control-column {
    display: flex;
    width: 49%;
}

.panel-control-color {
    display: flex;
    width: 100%;
}

.panel-control-column input {
    width: 100%;
}

/* estilos para el circulo del input color */
.panel-control-column input[type='color'] {
    width: 19px;
    height: 19px;
    border-width: 0px;
    padding: 0px;
    max-width: 18px;
    border-radius: 100%;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}

.control-slider{
    margin: 1em 0em;
}

.control-slider input[type='range'] {
    margin: 0.5em 0em;
}


.panel-control__input {
    width: 100%;
    height: 35px;
    padding: 0.5em;
}
