* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1px;
}

body{
    height: 100%;
    width: 100%;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    overflow: hidden;
}

/**************************
Estilos para el contenedor de header y main
************************** */

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/**************************
Estilos para el header
************************** */

button {
    border: none;
    background: none;
    cursor: pointer;
}

.header {
    padding: 2.5em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #D69F7E;
}

.header__title {
    font-size: 35rem;
    font-weight:500;
    margin-bottom: 0.4em;
}

.container-header-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header__button {
    margin: 0em 0.8em;
}

@media (max-width: 700px) {
    .header__title {
        font-size: 25rem;
    }
}

/**************************
Estilos para el main
************************** */
.container-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9D6B53;
}

.container-meme{
    height: 600px;
    width: 100%;
    max-width: 55%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.title__meme{
    width: 100%;
    font-size: 55rem;
    font-weight: 900;
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:beige;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: static;
    line-height: 1.2;
}

#top-text {
    top: 0;
}

#bottom-text{
    bottom: 0;
}

.content__meme {
    flex-grow: 1;
    background-color: black;
}

/**************************
Estilos para el button de main "descargar meme"
************************** */

.button-meme {
    background-color: rgb(1, 71, 1);
    padding: 1em;
    margin: 2em 0em 1em 0em;
    color: white;
}

/**************************
Estilos para el aside de IMAGEN
************************** */

.hidden {
    display: none;
}

.panel {
    width: 260px;
    height: 100%;
    padding: 2em 1em;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    box-shadow: -10px 10px 100px 5px rgba(0, 0, 0, 0.3);
    font-size: 14rem;
    background-color: #ddb892;
    overflow: auto;
}

.panel__close {
    display: none;
}

.panel__title {
    text-align: center;
    font-size: 20rem;
    font-weight: 600;
    margin-bottom: 1em;
}

fieldset {
    border: transparent;
}

.panel-control {
    margin-bottom: 1em;
}

.control__title {
    margin-bottom: 0.5em;
    font-size: 17rem;
}

.panel-control__input {
    width: 100%;
    height: 36rem;
    padding: 0.5em;
    margin-bottom: 0.5em;
    background-color:#CD9777;
}

.panel-control-columns {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.flex-container:not(.panel-control__checkbox) {
    display: flex;
    align-items: center;
    height: 36rem;
}

.panel-control-column {
    width: 49%;
}

.panel-value__color{
    margin-left: 0.2em;
}

.panel input {
    display: block;
}

/**************************
estilos para el circulo del input color
************************** */
.panel-control-column input[type='color'] {
    /* border-radius: 100%; */
    height: 18rem;
    width: 18rem;
    background-color: transparent;
    border: none;
}

input[type="color"]::-webkit-color-swatch, ::-webkit-color-swatch-wrapper  {
    border: none;
    border-radius: 100%;
    padding: 0;
}
/* ************************** */

.control-slider{
    margin: 1em 0em;
}

/**************************
estilos para el circulo del input range
************************** */
.control-slider input[type='range'] {
    margin: 0.5em 0em;
    width: 100%;
    height: 6rem;
    background-color: #5a5d68;
    border-radius: 10rem;
    appearance: none;
}

.control-slider input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    cursor: pointer;
    /* solo es de referencia, no olvidar cambiarlo con el modo oscuro/claro */
    background-color: #ffffff;
}
/* ************************** */

.button__reset {
    margin-top: 1em;
    padding: 0.7em;
    border-radius: 3rem;
    width: 70%;
    height: 36rem;
    background-color:#CD9777;
}

/**************************
Comienzo de Estilos para el aside de TEXTO
************************** */
.panel textarea {
    height: 36rem;
}

.panel-control__checkbox{
    font-size: 12rem;
    display: flex;
}

input[type="checkbox"] {
    margin-right: 0.4em;
}

.buttons-container {
    margin-bottom: 0.5em;
    display: flex;
    width: 100%;
    height: 34px;
}

.flex-container input[type="number"] {
    width: 100%;
}

.button {
    height: 36rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    font-size: 14rem;
    cursor: pointer;
    width: 100%;
    margin-left: 0.1em;
}

@media (max-width: 1300px) {
    .panel__close {
        display: flex;
        justify-content: end;
        width: 100%;
    }
}

.modo-violet header main aside {
    color: violet;
}

/**************************
MODO OSCURO
************************** */

/* falta cambiar el color al input de range */

.header--dark {
    background-color: #191e2b;
    color: white;
}

.container-main--dark {
    background-color: #30343f;
    color: white;
} 

.panel--dark {
    background-color: #252935;
    color: white;
}

.panel-control__input--dark {
    background-color: #393e49;
    color: white;
}

.header__button--dark {
    color: white;
}

.panel__close--dark {
    color: white;
}
